<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP5nT0EufzNbvgR83xMqdlVAtPTFSIKM4</string>
	<key>GCM_SENDER_ID</key>
	<string>475681557383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lunchVote</string>
	<key>PROJECT_ID</key>
	<string>lunch-votte</string>
	<key>STORAGE_BUCKET</key>
	<string>lunch-votte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475681557383:ios:14ce36c7df810d84172122</string>
</dict>
</plist>